<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <listener>
        <listener-class>com.ustadmobile.nanolrs.servlet.NanoLrsContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>StatementsServlet</servlet-name>
        <servlet-class>com.ustadmobile.nanolrs.servlet.StatementsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StateServlet</servlet-name>
        <servlet-class>com.ustadmobile.nanolrs.servlet.StateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UMSyncServlet</servlet-name>
        <servlet-class>com.ustadmobile.nanolrs.servlet.UMSyncServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UMSyncServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>